.Home-container {
  background-color: #ecdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-start {
  position: absolute;
  bottom: -100px;
  left: 190px;
  background: #FFA07A;
  border-radius: 12px;
  width: 100px;
  height: 30px;
  font-weight: bold;
}

.img-container{
height: 100px;
width: 100px;
}

.Product-container{
border-radius: 34px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 20px;
flex-direction: column;
background-color: #FFA07A;
width: 200px;
height: 300px;

}

.all-products{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #FFA07A;

}

.img-payment{
cursor: pointer;
}
